In [7]:
api_key = 'IPMODP97MJ95M4PO'

In [8]:
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
import time
import pandas as pd
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [9]:
cases = pd.read_csv('https://covid.ourworldindata.org/data/ecdc/total_cases.csv')
usa_date = pd.DataFrame({"Date": cases["date"], "World": cases["World"], "USA": cases["United States"]})
usa_date['Date'] = usa_date.Date.astype(str)
w = 0
stock_list = ['ba', 'zm', 'ccl', 'goog', 'dji']
def new_stock(stock_sym):
    ts = TimeSeries(key=api_key, output_format='pandas')
    ti = TechIndicators(key=api_key, output_format='pandas')
    stock_sym2, meta_data = ts.get_daily(symbol=stock_sym, outputsize = 'full')
    stock_sym3 = pd.DataFrame({"Date": stock_sym2.index, eval("stock_sym"): stock_sym2["4. close"], eval("stock_sym") + "_Volume": stock_sym2["5. volume"] })
    stock_sym3.reset_index(drop=True, inplace=True)
    stock_sym3['Date'] = stock_sym3.Date.astype(str)
    return(stock_sym3)

for x in stock_list:
    w += 1
    print(w)
    if w == 1:
        first_frame = new_stock(x)
        time.sleep(10)
        print(first_frame)
    elif w == 2:
        all_frames = new_stock(x)
        fff = all_frames.merge(first_frame, left_on='Date', right_on='Date')
        print(fff)
        print("dig")
        time.sleep(10)
    elif w == 3:
        all_frames = new_stock(x)
        ggg = all_frames.merge(fff, left_on='Date', right_on='Date')
        print(ggg)
        time.sleep(10)
    elif w == 4:
        all_frames = new_stock(x)
        hhh = all_frames.merge(ggg, left_on='Date', right_on='Date')
        time.sleep(10)
    else:
        all_frames = new_stock(x)
        iii = all_frames.merge(hhh, left_on='Date', right_on='Date')
        jjj = iii.merge(usa_date, left_on='Date', right_on='Date')
        print(jjj)
        jjj.to_csv('dow_data.csv')

1
            Date      ba   ba_Volume
0     2020-03-31  149.14  29752162.0
1     2020-03-30  152.28  50975151.0
2     2020-03-27  162.00  47729982.0
3     2020-03-26  180.55  63172068.0
4     2020-03-25  158.73  77314766.0
...          ...     ...         ...
5028  2000-04-04   37.31   4004200.0
5029  2000-04-03   37.19   3234700.0
5030  2000-03-31   37.81   4640100.0
5031  2000-03-30   38.63   3311100.0
5032  2000-03-29   37.88   2731000.0

[5033 rows x 3 columns]
2
           Date      zm   zm_Volume      ba   ba_Volume
0    2020-03-30  150.88  15603938.0  152.28  50975151.0
1    2020-03-27  151.70  13271899.0  162.00  47729982.0
2    2020-03-26  141.15   9284038.0  180.55  63172068.0
3    2020-03-25  138.11  14743014.0  158.73  77314766.0
4    2020-03-24  135.18  22401325.0  127.68  42870185.0
..          ...     ...         ...     ...         ...
234  2019-04-25   65.00   3863275.0  382.80   6614992.0
235  2019-04-24   63.20   4973529.0  375.46   9855141.0
236  2019-04-23   69.00   6786513.0  374.02   4894517.0
237  2019-04-22   65.70   9949738.0  375.17   4147652.0
238  2019-04-18   62.00  25764659.0  380.07   4703105.0

[239 rows x 5 columns]
dig
3
           Date    ccl  ccl_Volume      zm   zm_Volume      ba   ba_Volume
0    2020-03-30  12.80  46110899.0  150.88  15603938.0  152.28  50975151.0
1    2020-03-27  14.41  64481734.0  151.70  13271899.0  162.00  47729982.0
2    2020-03-26  17.82  97396096.0  141.15   9284038.0  180.55  63172068.0
3    2020-03-25  15.55  77868838.0  138.11  14743014.0  158.73  77314766.0
4    2020-03-24  13.68  64715137.0  135.18  22401325.0  127.68  42870185.0
..          ...    ...         ...     ...         ...     ...         ...
234  2019-04-25  53.83   2482219.0   65.00   3863275.0  382.80   6614992.0
235  2019-04-24  53.73   2863368.0   63.20   4973529.0  375.46   9855141.0
236  2019-04-23  53.75   2541184.0   69.00   6786513.0  374.02   4894517.0
237  2019-04-22  53.07   2463171.0   65.70   9949738.0  375.17   4147652.0
238  2019-04-18  53.63   4114260.0   62.00  25764659.0  380.07   4703105.0

[239 rows x 7 columns]
4
5
          Date         dji   dji_Volume     goog  goog_Volume    ccl  \
0   2020-03-30  22327.4805  545540000.0  1146.82    2524743.0  12.80
1   2020-03-27  21636.7793  588830000.0  1110.71    3208495.0  14.41
2   2020-03-26  22552.1699  705180000.0  1161.75    3573755.0  17.82
3   2020-03-25  21200.5508  796320000.0  1102.49    4081528.0  15.55
4   2020-03-24  20704.9102  799340000.0  1134.46    3344450.0  13.68
..         ...         ...          ...      ...          ...    ...
57  2020-01-07  28583.6797  258900000.0  1393.34    1511693.0  48.53
58  2020-01-06  28703.3809  252760000.0  1394.21    1733149.0  48.38
59  2020-01-03  28634.8809  239590000.0  1360.66    1187006.0  49.89
60  2020-01-02  28868.8008  251820000.0  1367.37    1406731.0  51.31
61  2019-12-31  28538.4395  193340000.0  1337.02     962468.0  50.83

    ccl_Volume      zm   zm_Volume      ba   ba_Volume   World     USA
0   46110899.0  150.88  15603938.0  152.28  50975151.0  715353  143025
1   64481734.0  151.70  13271899.0  162.00  47729982.0  527767   85991
2   97396096.0  141.15   9284038.0  180.55  63172068.0  468049   69194
3   77868838.0  138.11  14743014.0  158.73  77314766.0  416845   55231
4   64715137.0  135.18  22401325.0  127.68  42870185.0  377918   46442
..         ...     ...         ...     ...         ...     ...     ...
57   5748161.0   71.90   7004619.0  337.28   9901768.0      59       0
58   6693927.0   70.32   3152028.0  333.74   5353250.0      59       0
59   4892328.0   67.28   1128483.0  332.76   3875835.0      44       0
60   4200997.0   68.72   1315723.0  333.32   4543965.0      27       0
61   3130950.0   68.04   1352189.0  325.76   4957776.0      27       0

[62 rows x 13 columns]

In [87]:
aapl_sma, aapl_meta_sma = ti.get_sma(symbol='AAPL')
aapl_sma.head()

                 SMA
date
2000-04-14  129.2815
2000-04-17  129.3250
2000-04-18  128.9215
2000-04-19  127.7680
2000-04-20  126.6460